html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #111;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
